.container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    flex-wrap: wrap;
}

.container::after {
    content: "";
    width: 370px;   
  }

  .loadingMeals {
    margin-top: 100px;
    text-align: center;
    color: white;
  }